
body {
    background-color: #d09a6b;
}
header {
    background: #a1bdbd;
}
.nav {
    overflow:hidden;
    height: 125px;
}
.logo {
    height: 125px;
    width: 150px;
}
ul {
    list-style-type: none;
    padding: 0;
    display: inline;
    float: right;
    margin: 45px;
}
li {
    display: inline;
    font-size: 30px;
    padding: 25px;
}
.flex-grid {
    display: flex;
    justify-content: space-evenly;
}
.col {
    flex: 3;
    margin: 1.5%;
    background-color: #a1bdbd;
    padding: 15px;
    margin-top: 80px;
}
.rencen {
    height: 200px;
    width: 270px;
}
p,h1,h2{
    margin: 5px;
    padding: 5px;
}
